body { 
  margin: 0px;
  font-family:"arial";
}
#gooruChromeContainer { 
  min-width:960px;
}
#gooruChromeSearchContainer { 
/*   position: fixed; */
  float:left;
  width: 240px;
  height: 100%;
  z-index: 100;
}

#gooruChromeSearchContent {
  width: 240px;
  background-color: #ececec;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  height: 100%;
}
#goorulogo { 
  background: url("../images/sprite.png");
  display: block;
  width: 112px;
  height: 50px;
}

#header { 
  background-color: #515151;
  height: 50px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#515151), to(#333));
  background: -webkit-linear-gradient(top, #515151, #333);
  background: -moz-linear-gradient(top, #515151, #333);
  background: -ms-linear-gradient(top, #515151, #333);
  background: -o-linear-gradient(top, #515151, #333);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

#goorubetaText {
  color: #fff !important;
  float: left;
  font-weight: bold;
  left: 112px;
  position: relative;
  top: 25px;
  font-size: 12px;
}
#gooruChromeSearchTextField {
  padding: 4px;
  border: 1px solid #DDD;
  font-family: arial, sans-serif;
  font-size: 12px;
  width: 226px;
  height: 30px;
  margin: 0 auto;
  margin-top: 8px;
  margin-left: 7px;
}
#gooruChromeSearchResultContainer {
  width: 61%;
  margin-left: 2px;
  margin: 0 auto;
  border: 1px solid blue;
  position: relative;
  left: 130px;
}
.featuredCollectionBox {
  width: 380px;
  border: 1px solid #ccc;
  height: 239px;
  float: left;
  margin: 59px 10px 10px 10px;
}
.featuredCollectionDetailBox {
  width: 380px;
  height:240px;
  position: relative;
  top: -288px;
  bottom: 0;
  background:rgba(0, 0, 0, 0.6);
}
.featuredCollectionDetailBox:hover {
    opacity: 0.3; 
    transition:all 3s ease;
}
.didYouKnowText, .displayName {
  font-family:"arial";
  padding-left:5px;
  display: block;
}
.didYouKnowText {
  color: #fefefe;
  font-size: 18px;
}
.displayName {
  font-size: 13px;
  color:#ffffff;
}
#wrapper {
  width: 100%;
  max-width: 1349px;
  float: left;
  border: 1px solid red;
}
.titleBox {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); 
  width:380px;
  border:1px solid #cccccc;
  height:36px;
  display:block;
  margin-bottom:10px;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  font-size:14px;
  color:#515151;
}
.featurTitle {
  padding: 4px;
  display: block;
  padding-top: 9px;
}
.playIcon {
  background: url("../images/play-icon.png") no-repeat;
  width: 128px;
  height: 128px;
  display: block;
  position: absolute;
  margin-top: 57px;
  margin-left: 116px;
  cursor:pointer;
  z-index: 9999;
}

.learnMore {
  height: 387px;
  width: 61%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 4px 4px;
  margin-top: 66px;
  margin: 0 auto;
  clear: both;
  position: relative;
  top: 53px;
  left:125px;
}

/*  */


.learnMoreDiv {
    font-size: 16px;
    height: 347px;
    margin-left: 16px;
}


.learnMoreHeading {
    color: #999999;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
}

.learnMoreTxtDiv {
    float: left;
    width: 316px;
}

.learnMoreVideoDiv {
    margin-left: 35px;
}

.learnMoreButtonDiv {
    float: left;
    font-size: 12px;
    height: 28px;
    margin-top: 14px;
    text-align: left;
 }
 .learnMoreButton {
    background: -webkit-linear-gradient(top, #4c98cc, #1076bb);
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    display: inline-block;
    float: right;
    font-family: Arial,sans-serif;
    font-weight: bold;
    padding: 12px 18px;
    text-decoration: none !important;
}

.learnMoreText {
  color: #999999;
  margin-bottom: -15px;
  font-size: 15px;
  margin:0;
}

.learnMoreTxtDiv h4 {
  padding:0;
  line-height:1px;
  color:#515151;
}