
 <%
 for(var i in data) {
	      var imageUrl = data[i].scollections[0].thumbnails.url;
	      var gooruOid = data[i].scollections[0].gooruOid;
	      var title = data[i].scollections[0].title;
	      %>
<div class="featuredCollectionBox featuredOne">
<a target="_blank" href="http://www.goorulearning.org/gooru/index.g#!/collection/<%=gooruOid%>/play"><img src="<%=imageUrl%>" width=380 height=240 /></a>
<div class="titleBox"><span class="featurTitle"><%=title%></span></div>
</div>

<%}
%>
